.card-header {
    background-color: #fff;
    padding: 0;
    font-size: 1.25rem;
}

.nav-item {
    padding: 1rem 0rem;
    border-bottom: 0.5rem solid #ccc;
}

.active {
    font-weight: bold;
    color: black;
    border-bottom-color: #1976D2 !important;
}

.enabled {
    border-bottom-color: rgb(88, 162, 234);
}

.disabled {
    color: #ccc;
}