<div class="card">
  <div class="card-header">
    <ul class="nav nav-justified">
      <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled,'disabled': step.isDisabled}">{{step.title}}</li>
    </ul>
  </div>
  <div class="card-block">
    <ng-content></ng-content>
    <div>
        <button type="button" class="btn btn-secondary float-left" (click)="previous()" [hidden]="!hasPrevStep">Previous</button>
        <button type="button" class="btn btn-secondary float-right" (click)="next()" [hidden]="!hasNextStep">Next</button>
        <button type="button" class="btn btn-secondary float-right" (click)="complete()" [hidden]="hasNextStep">Done</button>
    </div>
  </div>
</div>