<div class="container">
  <section class="demo">
    <h1>
      Angular2 - Wizard Form Demo
    </h1>
    <hr/>
    <wizard>
      <wizard-step [title]="'Step1'" [isActive]="true" (onNext)="onStep1Next($event)">
        <h1>Step1</h1>
      </wizard-step>
      <wizard-step [title]="'Step2'" (onNext)="onStep2Next($event)">
        <h1>Step2</h1>
      </wizard-step>
      <wizard-step [title]="'Step3'" (onNext)="onStep3Next($event)">
        <h1>Step3</h1>
      </wizard-step>
      <wizard-step [title]="'Step4'">
        <h1>Step4</h1>
      </wizard-step>
    </wizard>
  </section>
</div>